<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Configuration</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Backup Successed</th>
      <th scope="col">Sent By Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs ; index as i">
      <td>{{ log.user.username }}</td>
      <td>{{ log.config.configName }}</td>
      <td>{{ log.date}}</td>
      <td>{{ log.status}}</td>
      <td>{{ log.alreadySent}}</td>
      <td><c-button-group aria-label="Basic example" role="group">
        <button cButton (click)="view(log)">View Error Details</button>
        <button cButton color="danger" (click)="removeAt(i)">Remove</button>
      </c-button-group></td>
    </tr>
  </tbody>
</table>