<app-widgets-dropdown></app-widgets-dropdown>

<c-card>
    <c-card-header>
        <h5 cCardTitle>Last Logged Users</h5>
    </c-card-header>
    <c-card-body>
        <table cTable hover>
            <thead>
                <tr>
                    <th scope="col">Online</th>
                    <th scope="col">User</th>
                    <th scope="col">MAC</th>
                    <th scope="col">IP</th>
                    <th scope="col">Last Backup</th>
                    <th scope="col">Last Login</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><svg [cIcon]="icons.cilWifiSignal4" size="xl" title="List Icon"></svg></td>
                    <td>Name</td>
                    <td>EB:D3:B6:59:C0:14</td>
                    <td>45.15.315.1</td>
                    <td>11.2.2022</td>
                    <td>5 minutes and 5 seconds ago</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td><svg [cIcon]="icons.cilWifiSignal4" size="xl" title="List Icon"></svg></td>
                    <td>Name</td>
                    <td>EB:D3:B6:59:C0:14</td>
                    <td>45.15.315.1</td>
                    <td>11.2.2022</td>
                    <td>5 minutes and 5 seconds ago</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td><svg [cIcon]="icons.cilWifiSignal4" size="xl" title="List Icon"></svg></td>
                    <td>Name</td>
                    <td>EB:D3:B6:59:C0:14</td>
                    <td>45.15.315.1</td>
                    <td>11.2.2022</td>
                    <td>5 minutes and 5 seconds ago</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td><svg [cIcon]="icons.cilWifiSignal4" size="xl" title="List Icon"></svg></td>
                    <td>Name</td>
                    <td>EB:D3:B6:59:C0:14</td>
                    <td>45.15.315.1</td>
                    <td>11.2.2022</td>
                    <td>1 hour and 5 minutes ago</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td><svg [cIcon]="icons.cilWifiSignal4" size="xl" title="List Icon"></svg></td>
                    <td>Name</td>
                    <td>EB:D3:B6:59:C0:14</td>
                    <td>45.15.315.1</td>
                    <td>11.2.2022</td>
                    <td>5 minutes and 5 seconds ago</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td><svg [cIcon]="icons.cilWifiSignal4" size="xl" title="List Icon"></svg></td>
                    <td>Name</td>
                    <td>EB:D3:B6:59:C0:14</td>
                    <td>45.15.315.1</td>
                    <td>11.2.2022</td>
                    <td>5 minutes and 5 seconds ago</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
    <c-card-footer>
        <a cButton color="primary" routerLink="/users" role="button">View All Users</a>
    </c-card-footer>
</c-card>
<c-card>
    <c-card-header>
        <h5 cCardTitle>Last Used Configurations</h5>
    </c-card-header>
    <c-card-body>
        <table cTable hover>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Last Used</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>11.5.2022</td>
                    <td>11.2.2020</td>
                    <td>
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Edit</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
    <c-card-footer>
        <a cButton color="primary" routerLink="/users" role="button">View All Configurations</a>
    </c-card-footer>
</c-card>
<c-card>
    <c-card-header>
        <h5 cCardTitle>Last Failed Configurations</h5>
    </c-card-header>
    <c-card-body>
        <table cTable hover>
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Config</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Config</td>
                    <td>11.2.2020</td>
                    <td>Failure</td>
                    <td class="buttons">
                        <c-button-group aria-label="Basic example" role="group">
                            <button cButton color="danger">Remove</button>
                            <button cButton color="primary">Read</button>
                        </c-button-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
    <c-card-footer>
        <a cButton color="primary" routerLink="/users" role="button">View All Logs</a>
    </c-card-footer>
</c-card>