<c-container>
    <c-row>
        <c-col>
            <c-card class="mb-4">
                <c-card-header>
                    <h5 cCardTitle>Basic Settings</h5>
                </c-card-header>
                <c-card-body>
                    <c-input-group class="mb-3">
                        <input aria-label="Username" cFormControl placeholder="Username" />
                        <span cInputGroupText>@</span>
                        <input aria-label="Server" cFormControl placeholder="Server" />
                        <button cButton color="primary">Send Test Mail</button>
                    </c-input-group>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                                aria-label="Checkbox for following text input">
                        </div>
                        <span cInputGroupText>Send Succesful Logs</span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                                aria-label="Checkbox for following text input">
                        </div>
                        <span cInputGroupText>Send Failed Logs</span>
                    </div>
                </c-card-body>
            </c-card>

        </c-col>
        <c-col>
            <c-card class="mb-4">
                <c-card-header>
                    <h5 cCardTitle>Schedule</h5>
                </c-card-header>
                <c-card-body>
                    <div class="input-group mb-3">
                        <c-input-group>
                            <span cInputGroupText>Cron string</span>
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                            <input cFormControl />
                        </c-input-group>
                    </div>
                    <div class="input-group mb-3">
                        <button cButton color="primary">Add To Presets</button>

                        <c-dropdown>
                            <button cButton cDropdownToggle color="primary">
                                Presets
                            </button>

                            <ul cDropdownMenu>
                                <li><a [routerLink] cDropdownItem>M - F</a></li>
                                <li><a [routerLink] cDropdownItem>Every Monday</a></li>
                                <li><a [routerLink] cDropdownItem>Friday 13th of 2023</a></li>
                            </ul>
                        </c-dropdown>
                    </div>
                </c-card-body>
            </c-card>

        </c-col>
    </c-row>
    <button cButton color="primary">Save</button>
</c-container>